@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*
{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    font-family:'lora',serif;
    
    }
.space-holder{
    position:relative;
    height:100vh;
    width:100vw;
    overflow:hidden;
}
.left-holder{
    position:absolute;
    height:100%;
    width:30%;
    top:0;
    left:0;
}
.left-holder>div{
    height:100%;
    width:100%;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
}
.left-holder h1{
    font-size:2.5rem;
}

.right-holder{
    height:100%;
    width:70%;
    left:30%;
    position:absolute;
}
.right-holder>div{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
   height:100%;
    width:100%;

}
.buttons button{

    padding:15px;
    border:none;
    background-color:aliceblue;
    color:slategray;
    cursor:pointer;
}
.space-holder .buttons .upper-button{
    top:50%;
    left:30%;
    z-index:100;
    position:absolute;
}
.space-holder .buttons .down-button{
    top:50%;
    left:30%;
    z-index:100;
    position:absolute;
}
.space-holder .buttons .down-button{
    transform:translateX(-100%);
    border-top-left-radius:5px;
      border-bottom-left-radius:5px;
}
.space-holder .buttons .upper-button{
    transform:translateY(-100%);
      border-top-right-radius:5px;
        border-bottom-right-radius:5px;
}